@font-face {
  font-family: 'iconfont'; /* Project id 4247073 */
  src:
    url('iconfont.woff2?t=1694433612082') format('woff2'),
    url('iconfont.woff?t=1694433612082') format('woff'),
    url('iconfont.ttf?t=1694433612082') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoge:before {
  content: '\e796';
}

.icon-duanluo:before {
  content: '\e62e';
}

.icon-strikethrough:before {
  content: '\e7f9';
}

.icon-juzhongduiqi:before {
  content: '\ec80';
}

.icon-youduiqi:before {
  content: '\ec82';
}

.icon-zitidaima:before {
  content: '\ec83';
}

.icon-zitijiacu:before {
  content: '\ec84';
}

.icon-zitixiahuaxian:before {
  content: '\ec85';
}

.icon-zitixieti:before {
  content: '\ec86';
}

.icon-zuoduiqi:before {
  content: '\ec87';
}

.icon-24gl-clipboardChecklist:before {
  content: '\eabb';
}

.icon-wuxuliebiao:before {
  content: '\e625';
}

.icon-youxuliebiao:before {
  content: '\e604';
}

.icon-h:before {
  content: '\e61a';
}

.icon-h3:before {
  content: '\e60b';
}

.icon-quote:before {
  content: '\e60c';
}

.icon-h2:before {
  content: '\e61b';
}

.icon-shangyibu3:before {
  content: '\e63f';
}

.icon-xiayibu2:before {
  content: '\e646';
}
